#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) {
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgb(38, 39, 48);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 0px 1rem;
    width: 304px;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) > div {
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgb(38, 39, 48);
    box-sizing: border-box;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) > div > div {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    pointer-events: auto;
    color: rgb(30, 103, 119);
    height: auto;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #a8dadc;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: none;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 1px solid rgba(28, 131, 225, 0.1);
    opacity: 1;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) > div > div > div {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    pointer-events: auto;
    color: rgb(30, 103, 119);
    box-sizing: border-box;
    width: 100%;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) > div > div > div > div {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    pointer-events: auto;
    color: rgb(30, 103, 119);
    box-sizing: border-box;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) > div > div > div > div > div {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    pointer-events: auto;
    color: rgb(30, 103, 119);
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: -1rem;
}

#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-adglug.e1fqkh3o1 > div.block-container.css-1dnb06j.eknhn3m2 > div:nth-child(1) > div:nth-child(7) > div > div > div > div > div > p {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.6;
    pointer-events: auto;
    color: #495057;
    font-family: "IBM Plex Sans", sans-serif;
    box-sizing: border-box;
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 0.8rem;
    font-weight: 400;
}